<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{header}">
    <f:switch expression="{layout}">
        <f:case value="1">
            <f:render section="HeadlineTag"
                      arguments="{tag: 'h1', header: header, style: style, position: position, link: link, subtitle:subtitle}"/>
        </f:case>
        <f:case value="2">
            <f:render section="HeadlineTag"
                      arguments="{tag: 'h2', header: header, style: style, position: position, link: link, subtitle:subtitle}"/>
        </f:case>
        <f:case value="3">
            <f:render section="HeadlineTag"
                      arguments="{tag: 'h3', header: header, style: style, position: position, link: link, subtitle:subtitle}"/>
        </f:case>
        <f:case value="4">
            <f:render section="HeadlineTag"
                      arguments="{tag: 'h4', header: header, style: style, position: position, link: link, subtitle:subtitle}"/>
        </f:case>
        <f:case value="5">
            <f:render section="HeadlineTag"
                      arguments="{tag: 'h5', header: header, style: style, position: position, link: link, subtitle:subtitle}"/>
        </f:case>
        <f:case value="6">
            <f:render section="HeadlineTag"
                      arguments="{tag: 'h6', header: header, style: style, position: position, link: link, subtitle:subtitle}"/>
        </f:case>
        <f:case value="100">
            <f:comment> -- do not show header --</f:comment>
        </f:case>
        <f:defaultCase>
            <f:render section="HeadlineTag"
                      arguments="{tag: 'h3', header: header, style: style, position: position, link: link, subtitle:subtitle}"/>
        </f:defaultCase>
    </f:switch>
</f:if>

<f:section name="HeadlineTag">

    <f:if condition="{position} == 'center'">
        <f:then>
            <div class="text-center">
                <f:render section="onlyHeadline" arguments="{_all}"/>

                <f:if condition="{style} == 0">
                    <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                </f:if>
            </div>
        </f:then>
        <f:else>
            <f:render section="onlyHeadline" arguments="{_all}"/>
            <f:if condition="{style} == 0">
                <div class="tiny-border" data-wow-delay=".8s" data-wow-duration=".8s"></div>
            </f:if>
        </f:else>
    </f:if>


</f:section>

<f:section name="onlyHeadline">
    <{tag}>
    <f:link.typolink parameter="{link}">
        {header}
        <f:if condition="{subtitle}">
            <span>{subtitle}</span>
        </f:if>
    </f:link.typolink>
</{tag}>
</f:section>
</html>