<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{data.tx_gridelements_view_children}">
    <ul class="accordion">
        <f:for each="{data.tx_gridelements_view_children}" as="item">
            <li>
                <a class="NoneActive">{item.header}</a>
                <div class="content" style="display: none">
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{item.bodytext}</f:format.html>
                    <f:if condition="{item.assets}">
                        <f:cObject typoscriptObjectPath="tt_content.accordion" data="{item}" />
                    </f:if>
                </div>
            </li>
        </f:for>
    </ul>
</f:if>
</html>