<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<f:switch expression="{data.layout}">
    <f:case value="1">
        <div class="feature-box">
            <i class="{data.icon} wow zoomIn" data-wow-delay="0s"
               style="visibility: visible; animation-delay: 0s; animation-name: zoomIn;"></i>
            <div class="text wow fadeIn" data-wow-delay=".2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <f:render partial="Header/Header" arguments="{
			header: data.header,
			layout: data.header_layout,
			default: settings.defaultHeaderType,
			position: data.header_position,
			style: data.header_style}"/>
                <f:format.html>{data.bodytext}</f:format.html>
                <f:if condition="{data.header_link}">
                    <f:link.page pageUid="{data.header_link}" class="btn-text">
                        <f:translate
                                key="LLL:EXT:mw_starterkit/Resources/Private/Language/Frontend.xlf:read-more"/>
                    </f:link.page>
                </f:if>
            </div>
        </div>
    </f:case>
    <f:defaultCase>
        <div class="col-md-12">
            <div class="box-with-icon-left">
                <i class="{data.icon} icon-big"></i>
                <div class="text">
                    <f:render partial="Header/Header" arguments="{
			header: data.header,
			layout: data.header_layout,
			default: settings.defaultHeaderType,
			position: data.header_position,
			style: data.header_style}"/>
                    <f:format.html>{data.bodytext}</f:format.html>
                    <div class="divider-single"></div>
                    <f:if condition="{data.header_link}">
                        <f:link.page pageUid="{data.header_link}" class="btn-text">
                            <f:if condition="{data.subheader}">
                                <f:then>
                                    <f:format.raw>{data.subheader}</f:format.raw>
                                </f:then>
                                <f:else>
                                    <f:translate
                                            key="LLL:EXT:mw_starterkit/Resources/Private/Language/Frontend.xlf:read-more"/>
                                </f:else>
                            </f:if>
                        </f:link.page>
                    </f:if>
                </div>
            </div>
        </div>
    </f:defaultCase>
</f:switch>

<div class="divider-double"></div>
