<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">


<f:layout name="Default"/>

<f:section name="Main">
    <f:render partial="Content/Header/Header"
              arguments="{header: data.header, layout: data.header_layout, position: data.header_position, style: data.header_style, subtitle:data.subheader}"/>
    <f:switch expression="{data.tx_gridelements_backend_layout}">
        <f:case value="1-column">
            <f:render partial="Grids/1-Column" arguments="{_all}"/>
        </f:case>
        <f:case value="2-columns-50-50">
            <f:render partial="Grids/2-Columns-50-50" arguments="{_all}"/>
        </f:case>
        <f:case value="2-columns-50-50-full-screen">
            <f:render partial="Grids/2-Columns-50-50-Full-Screen" arguments="{_all}"/>
        </f:case>
        <f:case value="2-columns-25-75">
            <f:render partial="Grids/2-Columns-25-75" arguments="{_all}"/>
        </f:case>
        <f:case value="2-columns-75-25">
            <f:render partial="Grids/2-Columns-75-25" arguments="{_all}"/>
        </f:case>
        <f:case value="2-columns-33-66">
            <f:render partial="Grids/2-Columns-33-66" arguments="{_all}"/>
        </f:case>
        <f:case value="2-columns-66-33">
            <f:render partial="Grids/2-Columns-66-33" arguments="{_all}"/>
        </f:case>
        <f:case value="3-columns-33-33-33">
            <f:render partial="Grids/3-Columns-33-33-33" arguments="{_all}"/>
        </f:case>
        <f:case value="3-columns-33-33-33-full-screen">
            <f:render partial="Grids/3-Columns-33-33-33-Full-Screen" arguments="{_all}"/>
            <div class="clearfix"></div>
        </f:case>
        <f:case value="4-columns-25-25-25-25">
            <f:render partial="Grids/4-Columns-25-25-25-25" arguments="{_all}"/>
        </f:case>
    </f:switch>
</f:section>

</html>