<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
<head>
    <title>Header Html</title>
</head>
<body>
<f:section name="Main">
    <!-- subheader begin -->
    <section id="subheader" class="no-bottom" data-stellar-background-ratio="0.5"
             style="background-image:url('/{backgroundImage}') ">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.newsTitle')}">
                                <f:then>
                                    <f:cObject typoscriptObjectPath="lib.newsTitle"/>
                                </f:then>
                                <f:else>{data.title}</f:else>
                            </f:if>

                            <f:if condition="{data.subtitle}">
                                <span>{data.subtitle}</span>
                            </f:if>
                        </h1>
                        <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->
</f:section>
</body>
</html>