<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
<f:for each="{gallery.rows}" as="row">
    <f:for each="{row.columns}" as="item">
        <f:if condition="{item.media}">
            <div class="item illustration">
                <div class="picframe">
                    <a data-gallery="gallery-{data.uid}" href="{f:uri.image(image: item.media)}">
                        <span class="overlay"></span>
                        <f:if condition="{item.media.title}">
                    <span class="pf_text">
                        <span class="project-name">{item.media.title}</span>
                        <span class="small-border"></span>
                    </span>
                        </f:if>
                        <f:media file="{item.media}" width="371c"/>
                    </a>
                </div>
            </div>
        </f:if>
    </f:for>
</f:for>
</html>
