<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{imageContent}">
    <f:for each="{imageContent}" as="medias">
        <f:for each="{medias.images}" as="media">
            <f:if condition="{media.link}">
                <f:then>
                    <f:link.page target="_new" pageUid="{media.link}">
                        <f:render section="media" arguments="{_all}"/>
                    </f:link.page>
                </f:then>
                <f:else>
                    <f:if condition="{data.image_zoom}">
                        <f:then>
                            <div class="single-image-zoom">
                                <a href="{media.publicUrl}">
                                    <f:render section="media" arguments="{_all}"/>
                                </a>
                            </div>
                        </f:then>
                        <f:else>
                            <f:render section="media" arguments="{_all}"/>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>

            <f:if condition="{media.description}">
                <figcaption>{media.description}</figcaption>
            </f:if>
        </f:for>
    </f:for>
</f:if>

<f:section name="media">
    <f:media
            class="{class} img-responsive"
            file="{media}"
            width="{data.imagewidth}"
            height="{data.imageheight}"
            alt="{media.alternative}"
            title="{media.title}"
    />
</f:section>
</html>
