{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:switch expression="{data.layout}">
    <f:case value="200">
        <div class="call-to-action text-light">
            <div class="container">
                <div class="row">
                    <f:render section="Main"/>
                </div>
            </div>
        </div>
    </f:case>
    <f:case value="210">
        <section style="background-image: url('{f:uri.image(image: assets.0)}'); background-size: cover"
                 class="light-text">
            <div class="container">
                <div class="row">
                    <f:render section="Main" arguments="{_all}"/>

                </div>
            </div>

            <div class="clearfix"></div>
        </section>
    </f:case>
    <f:case value="230">
        <section>
            <div class="container">
                <div class="row">
                    <f:render section="Main" arguments="{_all}"/>

                </div>
            </div>

            <div class="clearfix"></div>
        </section>
    </f:case>
    <f:case value="240">
        <section style="background-color: #eee;">
            <div class="container">
                <div class="row">
                    <f:render section="Main" arguments="{_all}"/>

                </div>
            </div>

            <div class="clearfix"></div>
        </section>
    </f:case>
    <f:defaultCase>
        <f:switch expression="{data.tx_gridelements_backend_layout}">
            <f:case value="3-columns-33-33-33-full-screen">
                <div class="box-container">
                    <f:render section="Main"/>
                </div>
            </f:case>
            <f:case value="2-columns-50-50-full-screen">
                <section class="side-bg">
                    <div class="col-md-6 col-md-offset-6 pull-right image-container">

                        <div class="background-image"
                             style="background-image: url('{f:uri.image(image: assets.0)}'); background-size: cover"></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <f:render section="Main" arguments="{_all}"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </section>

            </f:case>
            <f:defaultCase>
                <div class="container">
                    <div class="row {f:if(condition:'{data.layout} == 220',then:'no-gutter"',else:'" style="padding-top:40px; padding-bottom:40px;"')}>
                        <f:render section="Main"/>
                    </div>
                </div>
            </f:defaultCase>
        </f:switch>
    </f:defaultCase>
</f:switch>

